:root {
  --m-width: 16vw;
}

.logo-wrapper {
  height: 60svh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: calc(0.12 * var(--m-width));
}

.g-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(0.63 * var(--m-width));
}

.a-wrapper {
  width: calc(0.592 * var(--m-width));
}

.m-wrapper {
  width: var(--m-width);
  transform: translateY(0.2vw);
}

.g-top-wrapper,
.a-top-wrapper,
.m-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
